In [1]:
import pandas as pd
import numpy as np
import pickle

# pandas formatting
pd.set_option('display.max_rows', 100)
pd.set_option('max_colwidth', 200)

In [2]:
with open("compare_filter_results.pickle", 'rb') as f:
    f = pickle.load(f)

In [3]:
n_errors = f.pop('n_errors')
print(f'Number of Errors: {n_errors}')

Number of Errors: 33

In [4]:
df = pd.DataFrame(f).T.fillna(np.nan).replace(list(), np.nan)
df.head()

,region_filter,sector_filter,everything_matches,sector_new_only,sector_old_only,section_new_only,section_old_only
1,NaN,NaN,True,NaN,NaN,NaN,NaN
2,"[6, 7]",NaN,True,NaN,NaN,NaN,NaN
3,"[1, 1]",[15],False,[],[],"[(202, Arctic - Aquatic Ecosystems - Aquatic Ecosystems - Marine Planning and Conservation), (203, Arctic - Fisheries & Harbour Management - Fisheries & Harbour Management - Fisheries Resource Man...",[]
4,[9],NaN,True,NaN,NaN,NaN,NaN
5,"[2, 2, 7]",[3],False,[],[],"[(202, Arctic - Aquatic Ecosystems - Aquatic Ecosystems - Marine Planning and Conservation), (203, Arctic - Fisheries & Harbour Management - Fisheries & Harbour Management - Fisheries Resource Man...",[]

In [5]:
df[df.everything_matches].isnull().sum()

region_filter         11
sector_filter         67
everything_matches     0
sector_new_only       67
sector_old_only       67
section_new_only      67
section_old_only      67
dtype: int64

In [6]:
df[~df.everything_matches].isnull().sum()

region_filter         0
sector_filter         0
everything_matches    0
sector_new_only       0
sector_old_only       0
section_new_only      0
section_old_only      0
dtype: int64

In [8]:
# it looks like any time there is a section filter, the old version doesn't work and they don't match
# we need to make sure A) that the new method is correct and B) that the new method filters correctly (match SQL)

# we should also check the stuff that actually is filtered, not just the errors
# need to update filter check script

# first, let's conver these listed tuples to lists of ids
for column in ['sector_new_only', 'sector_old_only', 'section_new_only', 'section_old_only']:
    df.loc[df[column].notnull(), column] = df.loc[df[column].notnull(), column].apply(lambda y: sorted([x[0] for x in y]))

In [9]:
# so many repeats
df[~df.everything_matches]

,region_filter,sector_filter,everything_matches,sector_new_only,sector_old_only,section_new_only,section_old_only
3,"[1, 1]",[15],False,[],[],"[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, ...",[]
5,"[2, 2, 7]",[3],False,[],[],"[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, ...",[]
6,"[1, 9, 1]","[23, 36, 5]",False,[],[],"[17, 17, 17, 18, 18, 18, 19, 19, 19, 20, 20, 20, 21, 21, 21, 22, 22, 22, 23, 23, 23, 24, 24, 24, 25, 25, 25, 26, 26, 26, 28, 28, 28, 29, 29, 29, 30, 30, 30, 31, 31, 31, 32, 32, 32, 33, 33, 33, 34,...",[]
7,"[1, 8, 6]","[10, 12, 19]",False,[],[],"[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 6, 6, 6, 7, 7, 7, 8, 8, 8, 9, 9, 9, 11, 11, 11, 12, 12, 12, 13, 13, 13, 14, 14, 14, 19, 19, 19, 20, 20, 20, 21, 21, 21, 22, 22, 22, 23, 23, 23, 24, 24...",[]
13,[5],[17],False,[],[],"[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, ...",[]
17,[7],[35],False,[],[],"[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, ...",[]
18,"[9, 6]",[17],False,[],[],"[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, ...",[]
22,"[1, 2, 6, 9]","[33, 19, 8, 16]",False,[],[],"[1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 6, 7, 7, 7, 7, 8, 8, 8, 8, 9, 9, 9, 9, 11, 11, 11, 11, 12, 12, 12, 12, 13, 13, 13, 13, 14, 14, 14, 14, 17, 17, 17, 17, 18, 18,...",[]
25,"[9, 4]","[25, 7, 16, 35]",False,[],[],"[1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 6, 7, 7, 7, 7, 8, 8, 8, 8, 9, 9, 9, 9, 11, 11, 11, 11, 12, 12, 12, 12, 13, 13, 13, 13, 14, 14, 14, 14, 17, 17, 17, 17, 18, 18,...",[]
26,"[2, 5, 1]","[1, 33]",False,[],[],"[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9, 11, 11, 12, 12, 13, 13, 14, 14, 17, 17, 18, 18, 19, 19, 20, 20, 21, 21, 22, 22, 23, 23, 24, 24, 25, 25, 26, 26, 28, 28, 29, 29, 30, 30, 31, 3...",[]
31,"[7, 1, 2]","[18, 23, 38, 5]",False,[],[],"[17, 17, 17, 17, 18, 18, 18, 18, 19, 19, 19, 19, 20, 20, 20, 20, 21, 21, 21, 21, 22, 22, 22, 22, 23, 23, 23, 23, 24, 24, 24, 24, 25, 25, 25, 25, 26, 26, 26, 26, 28, 28, 28, 28, 29, 29, 29, 29, 30,...",[]
33,"[4, 7]","[33, 25, 16]",False,[],[],"[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 6, 6, 6, 7, 7, 7, 8, 8, 8, 9, 9, 9, 11, 11, 11, 12, 12, 12, 13, 13, 13, 14, 14, 14, 17, 17, 17, 18, 18, 18, 19, 19, 19, 20, 20, 20, 21, 21, 21, 22, 22...",[]
35,"[7, 9]","[12, 16, 16, 9]",False,[],[],"[1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 6, 7, 7, 7, 7, 8, 8, 8, 8, 9, 9, 9, 9, 11, 11, 11, 11, 12, 12, 12, 12, 13, 13, 13, 13, 14, 14, 14, 14, 22, 22, 22, 22, 23, 23,...",[]
36,[1],"[35, 24, 23]",False,[],[],"[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 6, 6, 6, 7, 7, 7, 8, 8, 8, 9, 9, 9, 11, 11, 11, 12, 12, 12, 13, 13, 13, 14, 14, 14, 17, 17, 17, 18, 18, 18, 19, 19, 19, 20, 20, 20, 21, 21, 21, 22, 22...",[]
37,"[9, 4, 4, 6]","[17, 31]",False,[],[],"[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9, 11, 11, 12, 12, 13, 13, 14, 14, 17, 17, 18, 18, 19, 19, 20, 20, 21, 21, 22, 22, 23, 23, 24, 24, 25, 25, 26, 26, 28, 28, 29, 29, 30, 30, 31, 3...",[]
42,"[8, 2]","[23, 13, 10]",False,[],[],"[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 6, 6, 6, 7, 7, 7, 8, 8, 8, 9, 9, 9, 11, 11, 11, 12, 12, 12, 13, 13, 13, 14, 14, 14, 17, 17, 17, 18, 18, 18, 19, 19, 19, 20, 20, 20, 21, 21, 21, 22, 22...",[]
43,[1],"[27, 11]",False,[],[],"[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9, 11, 11, 12, 12, 13, 13, 14, 14, 17, 17, 18, 18, 19, 19, 20, 20, 21, 21, 22, 22, 23, 23, 24, 24, 25, 25, 26, 26, 28, 28, 29, 29, 30, 30, 31, 3...",[]
48,"[6, 8, 6]","[20, 34, 16, 17]",False,[],[],"[1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 6, 7, 7, 7, 7, 8, 8, 8, 8, 9, 9, 9, 9, 11, 11, 11, 11, 12, 12, 12, 12, 13, 13, 13, 13, 14, 14, 14, 14, 17, 17, 17, 17, 18, 18,...",[]
49,"[4, 2, 1]","[7, 23]",False,[],[],"[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9, 11, 11, 12, 12, 13, 13, 14, 14, 17, 17, 18, 18, 19, 19, 20, 20, 21, 21, 22, 22, 23, 23, 24, 24, 25, 25, 26, 26, 28, 28, 29, 29, 30, 30, 31, 3...",[]
59,[9],"[7, 7, 12]",False,[],[],"[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 6, 6, 6, 7, 7, 7, 8, 8, 8, 9, 9, 9, 11, 11, 11, 12, 12, 12, 13, 13, 13, 14, 14, 14, 19, 19, 19, 20, 20, 20, 21, 21, 21, 22, 22, 22, 23, 23, 23, 24, 24...",[]
60,"[2, 1, 2, 8]",[4],False,[],[],"[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, ...",[]
62,"[8, 1, 7, 6]",[32],False,[],[],"[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, ...",[]
65,[4],"[29, 19, 7, 17]",False,[],[],"[1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 6, 7, 7, 7, 7, 8, 8, 8, 8, 9, 9, 9, 9, 11, 11, 11, 11, 12, 12, 12, 12, 13, 13, 13, 13, 14, 14, 14, 14, 17, 17, 17, 17, 18, 18,...",[]
66,"[1, 1, 4, 6]","[8, 4, 25]",False,[],[],"[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 6, 6, 6, 7, 7, 7, 8, 8, 8, 9, 9, 9, 11, 11, 11, 12, 12, 12, 13, 13, 13, 14, 14, 14, 17, 17, 17, 18, 18, 18, 19, 19, 19, 20, 20, 20, 21, 21, 21, 22, 22...",[]
72,"[5, 4]",[35],False,[],[],"[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, ...",[]
73,[9],[23],False,[],[],"[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, ...",[]
76,"[2, 5]","[21, 34]",False,[],[],"[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9, 11, 11, 12, 12, 13, 13, 14, 14, 17, 17, 18, 18, 19, 19, 20, 20, 21, 21, 22, 22, 23, 23, 24, 24, 25, 25, 26, 26, 28, 28, 29, 29, 30, 30, 31, 3...",[]
79,"[2, 8]","[25, 25, 27, 17]",False,[],[],"[1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 6, 7, 7, 7, 7, 8, 8, 8, 8, 9, 9, 9, 9, 11, 11, 11, 11, 12, 12, 12, 12, 13, 13, 13, 13, 14, 14, 14, 14, 17, 17, 17, 17, 18, 18,...",[]
83,"[8, 4, 7, 1]","[1, 23, 32, 9]",False,[],[],"[1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 6, 7, 7, 7, 7, 8, 8, 8, 8, 9, 9, 9, 9, 11, 11, 11, 11, 12, 12, 12, 12, 13, 13, 13, 13, 14, 14, 14, 14, 17, 17, 17, 17, 18, 18,...",[]
86,"[5, 5, 2, 5]","[6, 6]",False,[],[],"[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9, 11, 11, 12, 12, 13, 13, 14, 14, 17, 17, 18, 18, 19, 19, 20, 20, 21, 21, 26, 26, 28, 28, 29, 29, 50, 50, 51, 51, 52, 52, 63, 63, 64, 64, 65, 6...",[]
89,[8],"[15, 37, 19]",False,[],[],"[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 6, 6, 6, 7, 7, 7, 8, 8, 8, 9, 9, 9, 11, 11, 11, 12, 12, 12, 13, 13, 13, 14, 14, 14, 17, 17, 17, 18, 18, 18, 19, 19, 19, 20, 20, 20, 21, 21, 21, 22, 22...",[]
90,"[8, 5, 2, 8]","[25, 12, 15, 35]",False,[],[],"[1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 6, 7, 7, 7, 7, 8, 8, 8, 8, 9, 9, 9, 9, 11, 11, 11, 11, 12, 12, 12, 12, 13, 13, 13, 13, 14, 14, 14, 14, 19, 19, 19, 19, 20, 20,...",[]
97,[6],"[19, 38]",False,[],[],"[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9, 11, 11, 12, 12, 13, 13, 14, 14, 17, 17, 18, 18, 19, 19, 20, 20, 21, 21, 22, 22, 23, 23, 24, 24, 25, 25, 26, 26, 28, 28, 29, 29, 30, 30, 31, 3...",[]