In [43]:
import pandas as pd
from sqlalchemy import create_engine, MetaData, select
from sqlalchemy.exc import SQLAlchemyError

# pandas formatting
pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', 100)
pd.set_option('max_colwidth', 200)

In [2]:
dialect='mysql'
driver='mysqlconnector'
username='root'
password='root'
host='localhost'
port='3306'
database='dmapps_0'

engine = create_engine(f'{dialect}+{driver}://{username}:{password}@{host}:{port}/{database}')

In [3]:
def sql(query, engine):
    with engine.connect() as conn:
        return pd.read_sql(query, conn)

In [4]:
metadata = MetaData()
metadata.reflect(bind=engine)

In [13]:
results = []
matched_tables = set()

search_word = 'aquaculture'

with engine.connect() as connection:
    for table_name, table in metadata.tables.items():
        table_matched = False
        for column in table.columns:
            if str(column.type).startswith(("VARCHAR", "TEXT", "CHAR")):
                try:
                    query = select(table).where(column.ilike(f"%{search_word}%"))
                    result = connection.execute(query)
                    
                    if result.fetchone():
                        results.append((table_name, column.name))
                        table_matched = True
                except SQLAlchemyError as e:
                    print(f"Skipping {table_name}.{column.name}: {e}")
                    
        if table_matched:
            matched_tables.add(table_name)
    
    for table_name, table in metadata.tables.items():
        if table_name in matched_tables:
            for column in table.columns:
                if column.name.lower().endswith("id"):
                    results.append((table_name, column.name))

In [24]:
columns = dict()

for table, column in results:
    if columns.get(table, None):
        columns[table].add(column)
    else:
        columns[table] = {column}

table_list = sorted(list(matched_tables))

for table in table_list:
    col_list = sorted(list(columns[table]))
    lst1 = [x for x in col_list if x == 'id']
    lst2 = [x for x in col_list if x[-2:] == 'id' and x != 'id']
    lst3 = [x for x in col_list if x[-2:] != 'id']
    columns[table] = lst1 + lst2 + lst3

In [40]:
df_collection = dict()
terms = ['fisheries', 'aquatic ecosystems', 'marine mammal', 'aquaculture']
pattern = "|".join(terms)

for table in table_list:
    temp_columns = []
    for column in columns[table]:
        temp_columns += [column]
        
    query = f"SELECT {", ".join(temp_columns)} FROM {table};"  
    df_collection[table] = sql(query, engine)
    df_collection[table] = df_collection[table][df_collection[table].apply(
        lambda row: row.astype(str).str.contains(pattern, case=False, na=False).any(), axis=1
    )]

In [44]:
for table, df in df_collection.items():
    print(table)
    display(df)

accounts_profile

,id,language_id,section_id,user_id,position_eng,position_fre,position_from_ad
1,2,2.0,1.0,104,"Section Head, Aquaculture and Coastal Ecosystems","Chef de section, Aquaculture et écosystèmes côtiers","Section Head, Aquaculture and Coastal Ecosystems Section"
51,54,NaN,NaN,31,"Biologist, Aquaculture",Research Scientist / Chercheur,Research Scientist / Chercheur
67,70,NaN,NaN,64,"Head, Aquaculture & Coastal Ecosystems Section",None,None
76,79,NaN,NaN,89,Fisheries Biologist,Biologiste des pêches,None
78,81,NaN,NaN,92,"Senior Biologist, Aquaculture and Coastal Ecosystems","Division Manager, Aquatic Health / Gestionnaire de division, Santé aquatique","Division Manager, Aquatic Health / Gestionnaire de division, Santé aquatique"
...,...,...,...,...,...,...,...
3316,3326,NaN,NaN,3595,FPP Biologist biologiste - Aquatic Ecosystems,FPP Biologist biologiste - Aquatic Ecosystems,FPP Biologist biologiste - Aquatic Ecosystems
3337,3347,NaN,NaN,3616,Aquaculture Management Coordinator | Coordonnatrice de la gestion de l'aquaculture,Aquaculture Management Coordinator | Coordonnatrice de la gestion de l'aquaculture,Aquaculture Management Coordinator | Coordonnatrice de la gestion de l'aquaculture
3350,3360,NaN,NaN,3629,"Regional Director, Aquatic Ecosystems Directeur régional, Écosystèmes aquatiques","Regional Director, Aquatic Ecosystems Directeur régional, Écosystèmes aquatiques","Regional Director, Aquatic Ecosystems Directeur régional, Écosystèmes aquatiques"
3384,3394,NaN,NaN,3663,"Regional Senior Fisheries Management Officer,Resource Management","Regional Senior Fisheries Management Officer,Resource Management","Regional Senior Fisheries Management Officer,Resource Management"
3394,3404,NaN,NaN,3673,Regional Senior Fisheries Management Officer,Regional Senior Fisheries Management Officer,Regional Senior Fisheries Management Officer

bio_diversity_anidetsubjcode

    id  ANI_DET_ID         name
26  29           7  Aquaculture

csas2_csasrequest

,id,advice_fiscal_year_id,client_id,created_by_id,fiscal_year_id,office_id,old_id,section_id,updated_by_id,uuid,title
0,2,2022,1795,50.0,2022,1,NaN,116,50.0,c4aa2b7b15334d698406b35633d69688,Characterizing the effects of suspended oyster aquaculture on eelgrass in the Gulf Region
50,55,2021,1855,50.0,2022,1,NaN,116,62.0,a0ed18d6de1c401aa6ff42bbc6469fce,Characterizing the effects of suspended oyster aquaculture on eelgrass in the Gulf Region
56,64,2022,1827,456.0,2022,2,9999.0,129,2889.0,1ffe18b7212f4b95b9c438bf32a7b789,Framework and Stock Assessment for Inshore Herring (Gillnet and weir fisheries) and Offshore Scotian Shelf
136,159,2023,1831,440.0,2022,2,9999.0,130,456.0,e4455e5de0af4ddf9fccd14ea4bc26eb,"The responsible use of cleaner fish in Atlantic salmon aquaculture with an emphasis on environment, genetics, and disease."
168,200,2022,1938,1555.0,2022,5,NaN,131,1555.0,65eca365584645c8bd6402e3919856ca,2019FFHPP02 Effects of marine shipping associated with the Cedar LNG Project on marine mammals
...,...,...,...,...,...,...,...,...,...,...,...
1426,1642,2024,2592,2734.0,2025,5,NaN,197,1516.0,b969a5dedb43411d8f43ae129533cd85,Ksi Lisims LNG Project underwater noise and population effects on marine mammals - Impact Assessment
1428,1644,2026,2088,2088.0,2024,2,NaN,129,NaN,d6751340fb61431588d2d6e2d8e2863b,"Characterizing harvest rates for Food, Social, and Ceremonial lobster fisheries occurring outside of commercial seasons"
1436,1652,2025,2210,2210.0,2025,6,NaN,199,2210.0,7dbb5f057edd4f19b9e21a1f699b43bc,Proposed increase in biomass at Mowi Canada East Inc. existing Finfish Aquaculture sites in Facheux Bay
1437,1653,2025,2210,2210.0,2025,6,NaN,199,2210.0,875e5c3322b34a27835a7219ff590ab1,Mitigation of Aquatic Invasive Species with Oyster Aquaculture Imports
1533,1757,2026,918,918.0,2023,2,NaN,129,918.0,None,Science advice for small scale fisheries when conventional fisheries science is not feasible

csas2_csasrequestfile

,id,csas_request_id,file
51,55,55,csas/request_55/GLF-2020-2021-TAB09-Oyster_aquaculture_impacts_on_eelgrass.pdf
160,182,261,csas/request_261/RSIA_2019SAL08_Evaluation_of_Fisheries_Exposure_Model_for_IFR_Steelhead.pdf
274,302,207,csas/request_207/RSIA_2020_FFHPP08_AIS._Removal_Aquaculture.pdf
286,324,340,csas/request_340/CSAS_Request_Aquaculture_--_sea_lice_risk_assessment_v2.pdf
291,329,338,csas/request_338/NCR_Fisheries_Priority_1__Limit_Reference_Points_2021-2022.pdf
301,346,347,csas/request_347/CSAS_Request_Aquaculture_--_Cumulative_drug_and_pesticide_risk_assessment.pdf
311,360,320,csas/request_320/JK_CSAS_Request_Aquaculture_--_area-based_management_risk_assessment.pdf
319,371,490,csas/request_490/aquaculture_national_csas_submission_20211105_tunicate.pdf
320,372,489,csas/request_489/aquaculture_national_csas_submission_20211105_siting.pdf
331,383,468,csas/request_468/csas-2022-2023-ais-aquaculture-advice.pdf
367,420,261,csas/request_261/rsia_2019sal08resubmit2021_evaluation-of-fisheries-exposure-model-for-i_ZiPk7SU.pdf
438,496,782,csas/request_782/2017-18_ncr29_aquaculture-isa-outbreaks.pdf

csas2_document

,id,created_by_id,document_type_id,lead_office_id,old_id,process_id,updated_by_id,title_en,title_fr
4,7,292,3,1.0,9605.0,2,2858.0,Multi-species Considerations for Defining Fisheries Reference Points for Striped bass (Morone saxatilis) from the Southern Gulf of St. Lawrence,Considérations multi-espèces pour la définition des points de référence des pêches pour le bar rayé (Morone saxatilis) du sud du golfe du Saint-Laurent
5,8,292,3,1.0,10262.0,2,2858.0,Fisheries Reference Points for Striped bass (Morone saxatilis),Points de référence pour la pêche du bar rayé (Morone saxatilis)
12,17,292,3,1.0,10060.0,14,2359.0,"Gaspereau Assessment for the DFO Gulf Region to 2019: Fisheries, Biological Characteristics and Indicators of Status","Évaluation du gaspereau de la région MPO Golfe jusqu`à 2019 : Pêches, caractéristiques biologiques et indicateurs de status"
33,44,278,2,1.0,10545.0,23,2862.0,ASSESSMENT OF THE SOUTHERN GULF OF ST. LAWRENCE (NAFO DIVISION 4TVn) SPRING AND FALL SPAWNER COMPONENTS OF ATLANTIC HERRING (CLUPEA HARENGUS) WITH ADVICE FOR THE 2022 AND 2023 FISHERIES,None
88,102,2260,5,6.0,NaN,111,2260.0,"DFO NEWFOUNDLAND AND LABRADOR REGION SCIENCE REVIEW OF PROPOSED GRIEG MARINE FINFISH AQUACULTURE FACILITIES AT GOAT ISLAND IN PLACENTIA BAY, NEWFOUNDLAND",None
...,...,...,...,...,...,...,...,...,...
1071,1206,2483,3,5.0,NaN,426,3286.0,Identification of Vulnerable Marine Ecosystems on Seamounts in the North Pacific Fisheries Commission Convention Area Using Visual Surveys and Distribution Models,Recensement des écosystèmes marins vulnérables des monts sous-marins dans la zone de la Convention de la Commission des pêches du Pacifique Nord au moyen de relevés visuels et de modèles de répart...
1127,1264,2483,5,5.0,NaN,204,2359.0,Scientific Evidence to Inform Spawning Practices at Fisheries and Oceans Canada Salmon Hatcheries in the Pacific Region,Preuves scientifiques pour éclairer les pratiques de fraie dans les stations d’alevinage du saumon de Pêches et Océans Canada dans la région du Pacifique
1148,1285,456,2,2.0,NaN,407,NaN,"Review of four proposed new marine finfish aquaculture sites, st. Mary’s bay, digby county, nova scotia",None
1199,1337,2260,2,6.0,NaN,753,NaN,Science Review of Two Proposed Trout Aquaculture Sites in Bay d’Espoir on the South Coast of Newfoundland,"Examen scientifique de deux sites d’aquaculture de truite proposés dans la baie d’Espoir, sur la côte sud de Terre-Neuve"
1205,1345,2904,2,6.0,NaN,678,NaN,Aquaculture Siting Advice for Provincial Site Licence Applications from Mowi Canada East Incorporated,Avis sur le choix d’un site d’aquaculture pour les demandes de permis pour des installations provinciales de Mowi Canada East Incorporated

csas2_documentdatalink

,id,document_id,description
28,1427,188,Maritimes Region Fisheries Atlas: Catch Weight Landings Mapping (2010–2014) - Open Government Portal
29,1428,188,Maritimes Region Fisheries Atlas: Catch Weight Landings Mapping (2014–2018) - Open Government Portal
30,1429,1011,Maritimes Region Fisheries Atlas: Catch Weight Landings Mapping (2010–2014) - Open Government Portal
31,1430,1011,Maritimes Region Fisheries Atlas: Catch Weight Landings Mapping (2014–2018) - Open Government Portal
32,1431,1012,Maritimes Region Fisheries Atlas: Catch Weight Landings Mapping (2010–2014) - Open Government Portal
...,...,...,...
91,1502,1221,Maritimes Region Fisheries Atlas: Catch Weight Landings Mapping (2010–2014) - Open Government Portal
92,1503,1221,Maritimes Region Fisheries Atlas: Catch Weight Landings Mapping (2014–2018) - Open Government Portal
97,1515,1113,Fisheries and Oceans Canada Species at Risk Distribution (Range) - Open Government Portal
101,1519,1113,"Agricultural Resource Management (ARMS) | Maple Sugary, Marine Aquaculture Site Mapping Program (MASMP) | Rockweed"
103,1521,1113,Maritimes Region Fisheries Atlas: Catch Weight Landings Mapping (2014–2018) - Open Government Portal

csas2_documenttracking

,id,chair_id,created_by_id,director_id,division_manager_id,document_id,proof_sent_to_id,section_head_id,submitted_by_id,translation_review_by_id,updated_by_id,client_ref_number
210,248,1107.0,1142,NaN,807.0,332,1107.0,NaN,NaN,NaN,2359.0,RES_AquacultureSLICE_2011_P55

csas2_meeting

,id,created_by_id,fiscal_year_id,process_id,updated_by_id,name,nom
15,25,292.0,2022,23,62.0,Assessment of stock status of Atlantic herring (Clupea harengus) from the southern Gulf of St. Lawrence (NAFO Div. 4T-4Vn) to 2021 and advice for the 2022 and 2023 fisheries,Évaluation de l'état du stock de hareng de l'Atlantique (Clupea harengus) du sud du golfe du Saint-Laurent (division 4T-4Vn de l'OPANO) jusqu'en 2021 et avis pour les pêches de 2022 et 2023
81,108,1142.0,2022,62,2858.0,Stock Status Update of Herring in Northwest Atlantic Fisheries Organization (NAFO) Fishing Area 4VWX,Mise à jour de l’état du stock de hareng dans la zone de pêche 4VWX de l’Organisation des pêches de l’Atlantique Nord-Ouest (OPANO)
106,148,2260.0,2023,111,2260.0,Aquaculture Siting Advice for Provincial Site Licence Applications from Cold Ocean Salmon in Connaigre Bay and Grieg Aquaculture in Placentia Bay,Avis scientifique sur le choix d'un site aquacole pour les demandes de licences provinciales de site de Cold Ocean Salmon dans la baie de Connaigre et de Grieg Aquaculture dans la baie de Placentia
107,149,62.0,2023,86,292.0,Steering committee meeting for Characterizing the effects of suspended oyster aquaculture on eelgrass in the Gulf Region,Réunion du comité directeur pour la caractérisation des effets de l'ostréiculture en suspension sur les zostères dans la région du Golfe
108,150,62.0,2023,86,292.0,Science Advice on the effects of suspended oyster aquaculture on eelgrass in the Gulf Region,Caractérisation des effets de l'ostréiculture en suspension sur les zostères dans la région du Golfe
...,...,...,...,...,...,...,...
657,793,2260.0,2025,753,2260.0,Science Review of Two Proposed Trout Aquaculture Sites in Bay d’Espoir on the South Coast of Newfoundland,"Examen scientifique de deux sites d’aquaculture de truite proposés dans la baie d’Espoir, sur la côte sud de Terre-Neuve"
665,801,2904.0,2025,761,2904.0,Assessment of Northwest Atlantic Fisheries Organization (NAFO) Subdivision 3Ps Atlantic Cod,Évaluation de la morue de la sous-division 3Ps de l’Organisation des pêches de l’Atlantique Nord-Ouest (OPANO)
669,805,292.0,2025,764,292.0,Fisheries and Oceans Canada Gulf Region (SFA 15-18) Atlantic salmon (Salmo salar) Update of Stock Indicators up to 2024,Mise à jour des indicateurs de stock du saumon Atlantique (Salmo salar) jusqu'en 2024 dans la région du Golfe de Pêches et Océans Canada (ZPS 15-18)
676,812,1984.0,2025,768,NaN,Update of the state of knowledge of pathways of effects and stressor-effects linkages for finfish and shellfish aquaculture activities,None
693,829,2183.0,2025,785,456.0,Assessment of Atlantic Cod Bycatch Levels in Lobster Fisheries in Northwest Atlantic Fisheries Organization Areas 4X5Y,Évaluation des niveaus de prises accessoires de morue franche dans la pêche au homard dans les zones de l'Organisation des pêches de l’Atlantique Nord-Ouest

csas2_process

,id,created_by_id,fiscal_year_id,lead_office_id,updated_by_id,uuid,name,nom
4,8,292,2021,1,1142.0,ab2467c6a54b4e0cba646a7d3c53c935,Characterizing the effects of suspended oyster aquaculture on eelgrass in the Gulf Region,Caractérisation des effets de l'ostréiculture en suspension sur les zostères dans la région du Golfe
14,23,292,2022,1,278.0,02f05483cd734d0a892e1e9e4250bfea,Assessment of the southern Gulf of St. Lawrence (NAFO Division 4T-4Vn) spring and fall spawner components of Atlantic Herring (Clupea harengus) with advice for the 2022 and 2023 fisheries,"Évaluation du Hareng de l’Atlantique (Clupea harengus), composantes des reproducteurs de printemps et d’automne, du sud du golfe du Saint-Laurent (division 4T-4Vn de l’OPANO) et avis pour les pêch..."
60,86,62,2023,1,292.0,4f45bb91da914bd1b14906feaff6ce62,Characterizing the effects of suspended oyster aquaculture on eelgrass in the Gulf Region,Caractérisation des effets de l'ostréiculture en suspension sur les zostères dans la région du Golfe
75,111,2260,2023,6,2260.0,8e766027af85415c9823567f47dcc806,Request for Aquaculture Siting Advice for Provincial Site Licence Applications from Grieg Aquaculture in Placentia Bay and Cold Ocean Salmon in Fortune Bay,None
81,118,1984,2023,4,1984.0,c32ccfc615be433f8c6b8e7a47a0aef2,Science advice on mitigation measures to reduce the risk of spreading aquatic invasive species (AIS) through aquaculture mediated transfers.,None
...,...,...,...,...,...,...,...,...
524,687,456,2024,2,456.0,322c08de8f5245edb715bbc3582acc68,Identification of comparative fisheries conversion factors for DFO surveys on the Scotian Shelf and Bay of Fundy,Détermination de facteurs de conversion des pêches comparatives pour les relevés de recherche du MPO sur le plateau néo-écossais et dans la baie de Fundy
586,753,2260,2025,6,2260.0,b466ff3e642747fda09ee16a6554429f,Science Review of Two Proposed Trout Aquaculture Sites in Bay d’Espoir on the South Coast of Newfoundland,"Examen scientifique de deux sites d’aquaculture de truite proposés dans la baie d’Espoir, sur la côte sud de Terre-Neuve"
594,761,2904,2025,6,2296.0,10ae249bf23b44f7af4598bfc5742bd8,Assessment of Northwest Atlantic Fisheries Organization (NAFO) Subdivision 3Ps Atlantic Cod,Évaluation de la morue franche de la sous-division 3Ps de l’Organisation des pêches de l’Atlantique Nord-Ouest (OPANO)
601,768,1984,2025,4,NaN,fbf4e98a82b9413980d6b174b555f06d,Update of the state of knowledge of pathways of effects and stressor-effects linkages for finfish and shellfish aquaculture activities,None
618,785,2183,2025,2,NaN,2b96a6ba887d45fb86fa869256116484,Assessment of Atlantic Cod Bycatch Levels in Lobster Fisheries in Northwest Atlantic Fisheries Organization Areas 4X5Y,Évaluation des niveaus de prises accessoires de morue franche dans la pêche au homard dans les zones de l'Organisation des pêches de l’Atlantique Nord-Ouest

edna_collection

,id,created_by_id,fiscal_year_id,region_id,updated_by_id,uuid,client_organization,name
52,53,NaN,2024.0,2,NaN,9248311811bb441098bc14430b0ec297,DFO Maritimes (SABS),CSRF Aquaculture Bay Scale_Large predator Research project - 2023
78,79,NaN,2025.0,5,NaN,d9d946905a474daeb23ad7608fe3542e,"Regional Aquaculture Management Office, Aquatic Ecosystems",European Green Crab qPCR from NFLD Oyster I&T_Batch 1_Request 2024-21
101,102,3555.0,2025.0,1,1041.0,b54c127b836241cbbe7681379e24de9a,Fisheries and Oceans Canada,Targeted qPCR_eDNA PP 23-1_Panel 5_VB
102,103,281.0,2025.0,1,1041.0,f3e5626a77ad4f6092f3bce31dd2bd1f,Fisheries and Oceans Canada,Targeted qPCR_eDNA PP 23-1_Panel 6_MS
107,109,281.0,2025.0,1,281.0,61860e2ef02d496aa7af30351b3c1fa4,"Aquatic Ecosystems, SARP Gulf",Brook Floater Survey in Northern NB_Request 2024-31
124,126,1041.0,2025.0,9,NaN,b8593d22f5254ba49813b102baa42d2a,Fisheries and Oceans Canada,Forensic Panel FOR-PP-21-1_Panel 2 MS

edna_sample

,id,archived_by_id,bottle_id,collection_id,created_by_id,destroyed_by_id,sample_batch_id,sample_type_id,updated_by_id,uuid,site
3637,5003,NaN,HAMQ001,110,1910.0,1910.0,184,2,1910.0,86cfa99ed6054461b46396532f40cce6,HAM-Aquaculture
3638,5004,NaN,HAMQ002,110,1910.0,1910.0,184,2,1910.0,a23e2c45657341ab849c856ff1b08d2a,HAM-Aquaculture
3639,5005,NaN,HAMQ003,110,1910.0,1910.0,184,2,1910.0,fd51c71abdd6430db19296968593ad60,HAM-Aquaculture
3640,5006,NaN,HAMQ004,110,1910.0,1910.0,184,2,1910.0,cf6ab78086bb46ba95bc367f5eaad848,HAM-Aquaculture

grais_incidentalreport

,id,created_by_id,updated_by_id,email,location_description
30,33,400,400,technanap@globetrotteur.net,Carrefour National de l'aquaculture et des Peche (Musee/Aquarium)
143,146,400,400,rd@aquaculturepei.com,None
242,246,400,400,rd@aquaculturepei.com,None

ihub_entry

,id,created_by_id,entry_type_id,funding_program_id,funding_purpose_id,last_modified_by_id,old_id,status_id,proponent,title
74,101,389.0,8.0,NaN,NaN,443,NaN,1,None,Development of fisheries appendix attached to main consultation protocol that is also being developed
152,201,882.0,3.0,NaN,NaN,492,NaN,3,Port of Saint John,18- HGLF-00089 Port Saint John West Side Modernization Project – Notification of Amendment to a Fisheries Act Authorization
157,207,882.0,3.0,NaN,NaN,492,NaN,3,NB Power,19-HGLF-00171 NB Power Fisheries Act Authorization Application – Bayside/Courtenay Bay Thermal Generating Station - Milltown Generating Station
158,208,882.0,3.0,NaN,NaN,492,NaN,3,NB Power,19-HGLF-00168 NB Power Fisheries Act Authorization Application – Coleson Cove Thermal Generating Station - Milltown Generating Station
159,209,882.0,3.0,NaN,NaN,492,NaN,3,NB Power,19-HGLF-00169 NB Power Fisheries Act Authorization Application – Point Lepreau Generating Station - Milltown Generating Station
...,...,...,...,...,...,...,...,...,...,...
1010,1208,2347.0,4.0,NaN,NaN,2347,NaN,3,Glooscap First Nation,Glooscap First Nation - Communal Commercial Fisheries Discussion
1141,1346,1859.0,11.0,NaN,NaN,1859,NaN,1,None,Camera community-based Arctic marine mammal studies (CCAMMS)
1150,1355,1310.0,4.0,6.0,NaN,1310,NaN,1,None,Management Framework Oyster aquaculture in NB 2024
1175,1382,492.0,3.0,NaN,NaN,492,NaN,1,"PEI Department of Fisheries, Tourism, Sport and Culture",23-HGLF-00113 Malpeque Bay Wharf Construction
1176,1383,1859.0,11.0,NaN,NaN,1859,NaN,1,None,Fisheries Joint Management Committee January Science meetings

ihub_entryperson

        id  entry_id  user_id                                     organization
302    658       220      NaN    Manager of Aquaculture Management (DFO - MAR)
304    661       221      NaN    Manager of Aquaculture Management (DFO - MAR)
503   1036       399      NaN                               Aquatic Ecosystems
506   1040       400      NaN                         Aquatic Ecosystems - MAR
681   1305       515      NaN                             Fisheries Management
...    ...       ...      ...                                              ...
2945  4481      1387      NaN         Department of Fisheries and Oceans (DFO)
2947  4483      1388      NaN         Department of Fisheries and Oceans (DFO)
2949  4485      1389      NaN         Department of Fisheries and Oceans (DFO)
3051  4611      1422      NaN  DFO-NHQ Fisheries Monitoring Policy (FMP) group
3058  4618       520      NaN         Department of Fisheries and Oceans (DFO)

[97 rows x 4 columns]

inventory_file

,id,resource_id,file
88,110,965,inventory/resource_965/CA_GLLFAS_WPG_ELA_Aquaculture_Experiment_EN.xml

inventory_keyword

,id,keyword_domain_id,uid,text_value_eng,text_value_fre
240,241,1,None,Earth Science > Biosphere > Aquatic Ecosystems > Wetlands > Lacustrine Wetlands,sciences de la Terre > biosphère > écosystèmes aquatiques > milieux humides > milieux humides lacustres
269,270,6,None,Fisheries resources,Ressources halieutiques
293,294,1,None,Earth Science > Biosphere > Aquatic Ecosystems > Wetlands > Marine,sciences de la Terre > biosphère > écosystèmes aquatiques > milieux humides > milieux marins
350,351,1,None,Earth Science > Biosphere > Aquatic Ecosystems > Wetlands,sciences de la Terre > biosphère > écosystèmes aquatiques > milieux humides
382,383,1,None,Earth Science > Biosphere > Aquatic Ecosystems > Rivers/Stream Habitat,sciences de la Terre > biosphère > écosystèmes aquatiques > habitat fluviatile/rivulaire
...,...,...,...,...,...
3558,3568,6,None,Fisheries policy,Politique des pêches
3664,3674,6,None,Fisheries management,Gestion des pêches
3854,3864,6,None,Fisheries,Pêcheries
3878,3888,1,None,Earth Science > Biosphere > Aquatic Ecosystems > Wetlands > Palustrine Wetlands,sciences de la Terre > biosphère > écosystèmes aquatiques > milieux humides > milieux humides palustres
3950,3960,1,None,Earth Science > Biosphere > Aquatic Ecosystems > Estuarine Habitat,sciences de la Terre > biosphère > écosystèmes aquatiques > habitat estuarien

inventory_person

,organization_id,user_id,position_eng,position_fre
13,6.0,31,"Biologist, Aquaculture",None
29,6.0,64,"Head, Aquaculture & Coastal Ecosystems Section",None
38,6.0,89,Fisheries Biologist,Biologiste des pêches
40,6.0,92,"Senior Biologist, Aquaculture and Coastal Ecosystems",None
66,6.0,243,"Technician, Molluscan Aquaculture",None
92,6.0,278,"Head, Fisheries Framework Science Section","Chef, Section du cadre de science halieutique"
261,24.0,563,Aquaculture Technician,Technicien en aquaculture
311,25.0,617,Fisheries Biologist,
776,47.0,1135,Fisheries Analyst,Analyste des pêches

maret_areaofficeprogram

    id  area_office_id                                      name
0    8               1                               Aquaculture
1    6               2                        Aquatic Ecosystems
2   15               3                        Aquatic Ecosystems
10   5               2  Resource Management and CSSP/Aquaculture
11  14               3  Resource Management and CSSP/Aquaculture

maret_committee

,id,area_office_id,area_office_program_id,branch_id,division_id,last_modified_by_id,lead_national_sector_id,lead_region_id,name
108,1110,NaN,NaN,18.0,46.0,2461,None,NaN,Nova Scotia Aquaculture Environmental Coordinating Committee (NSAECC)
109,1111,NaN,NaN,18.0,46.0,2461,None,NaN,Nova Scotia Aquaculture Environmental Site Management Committee
110,1112,NaN,NaN,18.0,46.0,2461,None,NaN,St. Anns Harbour Aquaculture Site Remediation Committee
117,1119,NaN,NaN,18.0,46.0,2461,None,NaN,Aquaculture Regulators Working Group
119,1121,1.0,NaN,18.0,46.0,2461,None,NaN,New Brunswick Aquaculture Environmental Coordinating Committee
120,1122,1.0,NaN,18.0,46.0,2461,None,NaN,New Brunswick Aquaculture Site Environmental Review Committee (ASERC)
123,1125,NaN,NaN,18.0,46.0,2461,None,NaN,Program for Aquaculture Research Collaboration
126,1128,NaN,NaN,44.0,100.0,2461,None,NaN,Marine Mammal Enforcement Advisory Committee
153,1155,1.0,NaN,NaN,NaN,756,None,NaN,Fisheries Side Table

maret_discussiontopic

    id                                   name
0    1                            Aquaculture
1   34                Atlantic Fisheries Fund
17  32  Food, social and ceremonial fisheries
28  31          Moderate livelihood fisheries

maret_interaction

,id,area_office_id,area_office_program_id,branch_id,committee_id,division_id,last_modified_by_id,lead_national_sector_id,lead_region_id,description
9,11,NaN,NaN,47.0,NaN,106.0,756,NaN,2.0,Meeting with Unified Fisheries Conservation Alliance
12,14,NaN,NaN,47.0,NaN,106.0,756,2.0,6.0,DM Eastern Fisheries and Aquaculture Ministers (EFAM) meeting

maret_orgcategory

   id                              name
1   1  Aquaculture industry association
2   2        Aquaculture license holder

masterlist_grouping

   id                              name
2  24  Aquaculture industry association
3  25        Aquaculture license holder

masterlist_organization

,id,last_modified_by_id,nation_id,old_id,province_id,relationship_rating_id,name_eng,website
92,956,2582.0,NaN,396.0,3.0,NaN,Ivy Fisheries Limited,None
108,996,2582.0,NaN,105.0,6.0,NaN,Fisheries and Oceans Canada,None
114,1004,NaN,NaN,NaN,5.0,NaN,Mi’gmaq Maliseet Aboriginal Fisheries Management Association (MMAFMA),https://www.aghamm.ca/en/
163,1057,443.0,1.0,NaN,5.0,NaN,Association de gestion halieutique autochtone Mi'gmaq et Wolastoqey / Mi’gmaq Wolastoqey Indigenous Fisheries Management Association,https://aghamm.ca/
597,1548,1880.0,NaN,NaN,13.0,NaN,Fisheries Joint Management Committee,https://www.jointsecretariat.ca/fisheries
...,...,...,...,...,...,...,...,...
941,2050,2582.0,NaN,NaN,3.0,NaN,WM. R. Murphy Fisheries Ltd.,None
963,2097,756.0,NaN,NaN,3.0,NaN,Unified Fisheries Conservation Alliance,https://www.ufca.ca/
979,2113,756.0,NaN,NaN,2.0,NaN,"Newfoundland and Labrador Department of Fisheries, Forestry and Agriculture",https://www.gov.nl.ca/ffa/
995,2137,2582.0,NaN,NaN,1.0,NaN,Westview Fisheries Ltd.,None
1004,2148,2824.0,NaN,NaN,NaN,NaN,New England Fisheries Management Council,https://www.nefmc.org/

masterlist_organizationmember

,id,last_modified_by_id,organization_id,person_id,role
5,236,443.0,140,25,Councillor (Fisheries related)
7,257,2193.0,160,163,Comm/AFS Fisheries Coordinator
16,282,2193.0,181,188,Chief and Fisheries Coordinator
17,284,2193.0,183,190,Chief & AFS/Fisheries Coordinator
22,293,2193.0,191,199,Chief & Fisheries Coordinator
...,...,...,...,...,...
3753,5336,2193.0,81,5150,Fisheries Admin Coordinator
3760,5343,2824.0,1779,5157,Director of Fisheries Management and Science
3773,5356,2193.0,196,5170,Fisheries Director
3774,5357,2193.0,196,5171,Assistant Fisheries Director
3779,5362,3327.0,277,5174,Fisheries Assistant

masterlist_sector

,id,region_id,name,nom
2,5,1,FAM - Aboriginal Fisheries,GPA – Pêches autochtones
3,6,1,FAM - Aquaculture Management,GPA – Gestion de l’aquaculture
8,11,1,Science - Aquaculture and Coastal Ecosystems,Sciences – Aquaculture et écosystèmes côtiers
28,31,1,Aquatic Ecosystems - Marine Planning and Conservation,None
29,32,2,Fisheries Management - Maritimes,None
...,...,...,...,...
71,76,2,Fisheries Management - Integrated Business Management,None
72,77,2,Fisheries Management - Resource Management,None
81,86,2,Science - Aquaculture and Coastal Ecosystems,None
90,95,9,Aquatic Ecosystems,None
97,102,1,Aquatic Ecosystems - Biodiversity Management,None

ppt_activity

,id,classification_id,latest_update_id,parent_id,project_year_id,name,responsible_party
98,140,NaN,56.0,NaN,643,2018-2019 marine mammal detections,None
106,148,NaN,NaN,NaN,670,2019-2020 marine mammal detections,None
905,1164,NaN,NaN,NaN,744,Provision of advice on cumulative effects in CSAS aquaculture siting reviews,"Kelly, Murphy"
907,1166,NaN,NaN,NaN,1114,Provision of advice on cumulative effects in CSAS aquaculture siting reviews,"Kelly, Murphy"
925,1203,NaN,NaN,NaN,1133,Meeting to discuss guidance on monitoring for different fisheries,Melanie Barrett
...,...,...,...,...,...,...,...
5757,8142,4.0,NaN,NaN,4250,"Present preliminary results to FN, area stock assessment, and fisheries management",None
5780,8165,5.0,NaN,8164.0,4719,North Coast Region Stock Assessment Genotyping - Chinook Marine Fisheries,
5781,8166,5.0,NaN,8164.0,4719,North Coast Region Stock Assessment Genotyping - Coho Marine Fisheries,
5783,8168,5.0,NaN,8164.0,4719,North Coast Region Stock Assessment Genotyping - Sockeye Marine Fisheries,
5952,8366,NaN,NaN,NaN,4847,Fisheries Research Notice,None

ppt_collaboration

        id  project_year_id                                organization
53      62               13                           Cooke Aquaculture
54      63               40                           Cooke Aquaculture
55      64               41                           Cooke Aquaculture
56      65               82                           Cooke Aquaculture
57      66               84                           Cooke Aquaculture
...    ...              ...                                         ...
2889  3439             4856                 Fisheries and Oceans Canada
2894  3444             4871                Gitanyow Fisheries Authority
2946  3496             4953        Fisheries Joint Management COmmittee
2987  3540             3776  Pacific States Marine Fisheries Commission
2988  3541             5065              Secwepemc Fisheries Commission

[127 rows x 3 columns]

ppt_collaborativeagreement

,id,project_year_id,partner_organization
1,7,13,Cooke Aquaculture
2,8,40,Cooke Aquaculture
3,9,41,Cooke Aquaculture
4,10,82,Cooke Aquaculture
5,11,84,Cooke Aquaculture
8,15,36,PEI Aquaculture Alliance
16,38,393,PEI Aquaculture Alliance
17,39,407,Cooke Aquaculture
18,40,409,Cooke Aquaculture
19,41,410,Cooke Aquaculture
20,43,292,Thünen Fisheries Institute and Helmholtz-Zentrum Geesthacht

ppt_collaborator

,id,project_year_id,name
59,67,52,PEI Agriculture and Fisheries department
67,75,37,Innovative Fisheries Products Inc
105,122,36,PEI Aquaculture Alliance
124,144,143,Fisheries and Marine Institute of Memorial University of Newfoundland
127,147,143,National Oceanic and Atmospheric Administration - Fisheries
...,...,...,...
515,660,617,NOAA-NMFS Southeast Fisheries Science Center Marine Turtle Group
530,679,708,PEI Department of Agriculture and Fisheries (includes Aquaculture)
533,682,709,PEI Department of Agriculture and Fisheries (includes Aquaculture)
601,755,843,"Dept Fisheries and Aquaculture, Nova Scotia"
777,966,1507,Nova Scotia Department of Fisheries and Aquaculture

ppt_csrfclientinformation

,id,csrf_priority_id,fiscal_year_id,name,nom
22,23,86,2020,AQ-13 &rarr; Cumulative impacts of freshwater aquaculture,"AQ-13 &rarr; Compte tenu de notre manque de connaissances sur les effets de l’aquaculture en eau douce,..."
25,26,89,2020,FS-08 &rarr; Beluga...Science to support sustainable management of national priority marine mammal,FS-08 &rarr; Béluga...
26,27,89,2020,FS-08 &rarr; FFHP - Monitoring Emerging fisheries development...,FS-08 &rarr; PPH – Surveillance Développement des pêches émergentes...
43,44,92,2020,FS-09 &rarr; Increasing use of data/models to improve fisheries evaluations and decision making,FS-09 &rarr; Utilisation accrue des données et des modèles pour améliorer les évaluations des pêches et...
48,49,95,2020,AEa-12 &rarr; Ecologically and biologically significant areas for marine mammals,AEa-12 &rarr; Les données sur la répartition sont essentielles à la compréhension des zones d’importance...
...,...,...,...,...,...
263,264,291,2021,"CC-22-09 &rarr; Estimating the impact of sea ice loss in the NW Atlantic on ice-breeding marine mammals, d...",CC-22-09 &rarr; Estimation des répercussions de la perte de glace de mer dans l’Atlantique Nord-Ouest sur ...
267,268,295,2021,"FS-22-03 &rarr; Data Poor, Secondary/Minor, Emerging Fisheries developing or expanding methods to provide ...","FS-22-03 &rarr; Stocks pauvres en données, stocks secondaires/mineurs, pêches émergentes Élaborer ou éten..."
269,270,297,2021,FS-22-05 &rarr; Multi-species Fisheries Science Investigating principles and approaches for multi-species ...,FS-22-05 &rarr; Sciences halieutiques multi-espèces Étudier les principes et les approches pour l’évaluat...
279,280,302,2024,AQ-23-02 &rarr; 3. Effects of finfish aquaculture disease and parasites on wild Atlantic salmon population...,AQ-23-02 &rarr; 3. Effets des maladies et des parasites de la pisciculture sur les populations de saumon a...
305,306,311,2024,FS-23-02 &rarr; 1. Development of methods or models to quantify or estimate relevant fisheries metrics to ...,FS-23-02 &rarr; 1. Développement de méthodes ou de modèles pour quantifier ou estimer les paramètres de pê...

ppt_csrfpriority

,id,csrf_sub_theme_id,name,nom
4,78,26,Baseline science to enhance understanding of ecological relationships and roles of marine mammals and their prey,La science de base pour améliorer la compréhension des relations écologiques et des rôles des mammifères marins et de leurs proies
12,86,30,Cumulative impacts - Measuring and understanding the cumulative impacts of freshwater aquaculture,Effets cumulatifs – Mesurer et comprendre les effets cumulatifs de l’aquaculture en eau douce
13,87,26,Data collection and assessment: fisheries impacts on aquatic species at risk,Collecte et évaluation des données : impacts de la pêche sur les espèces en péril
15,89,31,Data-poor or emerging fisheries,Pêches émergentes ou sur lesquelles on dispose de peu de données
16,90,32,Developing and applying genomics and bioinformatics tools to detect and monitor environmental stress indicators in aquatic ecosystems.,Élaboration et application d’outils de génomique et de bio-informatique pour détecter et surveiller les indicateurs de stress environnemental dans les écosystèmes aquatiques.
...,...,...,...,...
139,316,59,"What are the impacts and potential mitigations of anthropogenic \r\nactivities (for example, oil and gas exploration, aquaculture, \r\nshipping, or fishing activities) on significant areas or sens...","Quels sont les impacts et les mesures d'atténuation potentielles \r\ndes activités anthropiques (par exemple, l'exploration pétrolière \r\net gazière, l'aquaculture, la navigation ou les activités..."
140,317,60,"What technologies or techniques could be used to perform more \r\nefficient, cost-effective or non-invasive bioregional monitoring to \r\nsupport management of aquatic ecosystems?","Quelles technologies ou techniques pourraient être utilisées \r\npour réaliser une surveillance biorégionale plus efficace, plus \r\nrentable ou non invasive afin de soutenir la gestion des \r\néc..."
143,320,65,"What improvements can be made in molecular detection, \r\nmonitoring, and biosurveillance tools for aquatic species that are \r\ndifficult to monitor, invasive, at-risk, escaped from aquaculture, ...","Quelles améliorations peuvent être apportées aux outils de \r\ndétection moléculaire, de surveillance et de biosurveillance \r\npour les espèces aquatiques difficiles à surveiller, \r\nenvahissant..."
149,326,63,"How do species interactions (for example, pinniped predation on \r\nprey populations or predator needs in light of the Forage Fish \r\nPolicy) impact stock dynamics, productivity or catchability, ...","Comment les interactions entre les espèces (par exemple, la \r\nprédation des pinnipèdes sur les populations de proies ou les \r\nbesoins des prédateurs à la lumière de la politique relative aux \..."
150,327,63,"How does habitat loss or degradation impact stock dynamics, \r\nproductivity or catchability, and what are the implications for \r\nconservation measures including fisheries management or \r\nrebu...","Comment la perte ou la dégradation de l'habitat influe-t-elle sur \r\nla dynamique des stocks, la productivité ou la capturabilité, et \r\nquelles sont les implications pour les mesures de conserv..."

ppt_csrfsubtheme

,id,csrf_theme_id,name,nom
0,24,7,Genetics - Impacts of aquaculture escapes,Génétique - Impacts des évasions aquacoles
3,27,7,Aquaculture fish health,Santé du poisson d’élevage
6,30,7,Short/long-term impacts of aquaculture on fish and fish habitat,Impact à court/long terme de l'aquaculture sur le poisson et son habitat
9,33,11,Ecosystem approach in fisheries management,Approche écosystémique dans la gestion des pêches
12,36,10,Assessing and reporting on aquatic ecosystems,Évaluation et compte rendu sur les écosystèmes aquatiques
13,37,7,Aquaculture interactions with fisheries and other human activities,Interactions de l'aquaculture avec les pêcheries et autres activités humaines
16,40,11,"Developing innovative methods and models to support analysis, advice and decision making in fisheries science","Développement de méthodes et modèles novateurs en soutien à l'analyse, le conseil et la prise de décision en science halieutique"
25,49,8,"Genomics: to support sustainable fisheries and aquaculture, and ecosystem health",Génomique : pour soutenir les pêches et l’aquaculture durables et la santé des écosystèmes
33,57,7,Understand and assess the environmental impacts of aquaculture,Comprendre et évaluer les impacts environnementaux d'aquacoles
35,59,10,Understand and mitigate the impacts of human activities on aquatic ecosystems,Comprendre et atténuer l'impact des activités humaines sur les écosystèmes aquatiques
36,60,10,Develop scientific tools and methods to support the management of aquatic ecosystems,Développer des outils et des méthodes scientifiques pour soutenir la gestion des écosystèmes aquatiques
37,61,12,"Understand and assess the vulnerability of fisheries, aquatic ecosystems and coastal infrastructure to climate change","Comprendre et évaluer la vulnérabilité des pêcheries, des écosystèmes aquatiques et des infrastructures côtières face au changement climatique"
38,62,12,"Understand the state and extent of ocean acidification and hypoxia, and the consequences for aquatic ecosystems and fisheries","Comprendre l'état et l'étendue de l'acidification des océans et de l'hypoxie, ainsi que les conséquences pour les écosystèmes aquatiques et les pêcheries"

ppt_csrftheme

,id,name,nom
0,7,Aquaculture Science,Science de l'aquaculture
2,9,Aquatic Ecosystems Sci.: AIS-SARA,Science des écosystèmes aquatiques: EAE-LEP
3,10,"Aquatic Ecosystems Sci.: Ecosystems, habitats, impacts","Science des écosystèmes aquatiques: écosystèmes, habitats, impacts"
4,11,Fisheries Science,Sciences halieutiques

ppt_functionalgroup

,id,theme_id,name,nom
16,17,3.0,Aquaculture Science,L'aquaculture
69,77,1.0,Fisheries Science,None
70,78,1.0,Aquatic Ecosystems - AIS and SARA,None
71,79,8.0,"Aquatic Ecosystems - Ecosystems, Habitats & Impacts",None

ppt_fundingsource

    id                                     nom
34  37  programme pour une aquaculture durable

ppt_project

,id,activity_type_id,client_information_id,csrf_fiscal_year_id,default_funding_source_id,functional_group_id,modified_by_id,organization_id,second_priority_id,section_id,starting_fy_id,species_involved
1089,1612,2.0,NaN,NaN,6.0,17.0,1449.0,48.0,NaN,23.0,2022.0,salmon aquaculture (benthic surveys)

ppt_tag

      id            name                nom
28    29     aquaculture        aquaculture
70    71       fisheries          pêcheries
144  146  Marine Mammals  Mammifères marins

publications_humancomponent

   id         name
1   1  AQUACULTURE
7   2    FISHERIES

publications_programlinkage

    id                                                        name
12  26  DFO–PROGRAM FOR AQUACULTURE REGULATORY RESEARCH (DFO–PARR)
34  17          PROGRAM FOR AQUACULTURE REGULATORY RESEARCH (PARR)

publications_project

,id,coordinates_id,last_modified_by_id,title
0,1,NaN,None,Lobster and aquaculture: studying interactions on Canada's East Coast
20,21,NaN,None,Evaluation of the FVCOM modeling system to map the far-field dispersal of aquaculture waste
22,23,NaN,None,Oceanographic research related to finfish aquaculture development
58,59,NaN,None,Marine mammal interactions with longline gear

res_application

,id,applicant_id,created_by_id,current_group_level_id,fiscal_year_id,manager_id,section_id,target_group_level_id,updated_by_id,current_position_title
4,9,559,559,3,2022,1051,68,4,559.0,"Research Scientist, Marine Ecosystem Impacts / Section Head, Aquaculture and Aquatic Invasive Species"
30,37,670,670,3,2022,436,19,4,670.0,Program Lead Arctic Commercial and Exploratory Fisheries
75,85,559,559,4,2025,1051,68,5,559.0,"Research scientist on Aquaculture-environment interaction, Aquatic Invasive Species, and Coastal Ecology, and Section head for the Aquaculture and Aquatic Invasive Species section"

shared_models_branch

,id,admin_id,head_id,last_modified_by_id,region_id,sector_id,uuid,name
1,2,NaN,NaN,50,1,12,ea93a4c4fcb54e1fb14d2f5f3e73c7c2,Aquatic Ecosystems
4,5,NaN,NaN,50,1,16,1153080d85e544299e422e4cf0cf107e,Fisheries and Harbour Management
15,16,NaN,NaN,50,4,20,d38e4498ed8642cdabe82f350d93d289,Fisheries and Aquaculture Management
16,17,NaN,NaN,50,2,17,06b17e190e0d46759a34a659695b9c01,"Fisheries Management, Resource and Aboriginal Fisheries Management"
17,18,NaN,NaN,50,2,13,157c160a3f8e47d3a9f3f48df95fab70,Aquatic Ecosystems
19,20,NaN,NaN,50,8,19,ba71ae32487a40e99a8d4811da354fe2,Fisheries Management
27,32,NaN,NaN,1142,6,1,e5627d4cb8404cb19dcab023deb69ca6,Aquaculture Policy Directorate
28,33,NaN,NaN,50,6,3,70fb0ea34b634b5a97117f7b8ba91dcf,Fisheries Resource Management
30,35,NaN,NaN,1142,6,2,c55fd74162034f71ab8270c7b3da1718,Fisheries Policy
31,36,NaN,NaN,1142,5,22,c1a9b5a975be41d6a5e2ef192759c3be,Aquatic Ecosystems
32,37,NaN,NaN,1142,5,23,6c4e55856802434c91c5282c111ee0a1,Fisheries & Harbour Management
33,38,NaN,NaN,50,9,24,9d004583b8894ad2913fe704bc20e6d7,Aquatic Ecosystems
34,39,NaN,NaN,50,9,25,a6e1e0049fa24eb3935b9a5eb077f09e,Fisheries & Harbour Management
35,40,NaN,NaN,50,7,27,b0661b7aae46450088dece205c9c4320,Aquatic Ecosystems
39,44,NaN,NaN,382,2,17,7330c4e829234839a252423607711e01,Fisheries Management
40,45,NaN,NaN,382,2,29,646bca22e31049cf9b7244c983e6eb28,Atlantic Fisheries Fund

shared_models_citation

        id  publication_id                                              series
3      354             NaN   Bulletin of the Aquaculture Association of Canada
14     373             NaN  Canadian Journal of Fisheries and Aquatic Sciences
32     431             NaN      Transactions of the American Fisheries Society
69     494             NaN                                  Fisheries Research
3154  3605             NaN  Canadian Journal of Fisheries and Aquatic Sciences
...    ...             ...                                                 ...
3415  3873             NaN   Bulletin of the Aquaculture Association of Canada
3426  3885             NaN               Reviews in Fish Biology and Fisheries
3428  3887             NaN  Canadian Journal of Fisheries and Aquatic Sciences
3453  3912             NaN  Canadian Journal of Fisheries and Aquatic Sciences
3464  3923             NaN      Transactions of the American Fisheries Society

[49 rows x 3 columns]

shared_models_cosigneecode

,id,region_id,name_eng
2,3,1,GULF FISHERIES CENTRE;
19,20,1,FISHERIES SERVICE-LAMEQUE; POST OFFICE BLDG
22,23,1,ABORIGINAL FISHERIES;
39,40,1,GULF FISHERIES; REG DIRECTOR
55,56,1,"FISHERIES MANAGEMENT; CHIEF, AQUACULTURE DIVISION"
...,...,...,...
311,312,2,"AQUACULTURE MANAGEMENT OFFICE; 3RD FLOOR, MARINE HOUSE"
313,314,2,"CFB GAGETOWN UNIT, FISHERIES AND OCEANS CANADA; OCEANS, HABITAT AND SPECIES AT RISK, MARITIMES REGION"
317,318,2,"CHIEF, SCH, N.B. SCOTIA-FUNDY FISHERIES MGMT;"
339,340,2,CCGC SPINDRIFT; FISHERIES AND OCEANS
476,477,2,"; AQUACULTURE/CSSP, SWNB"

shared_models_division

,id,admin_id,branch_id,head_id,last_modified_by_id,uuid,name,nom
1,2,1931.0,1,100.0,385.0,46a7696391a249f2866e63401c82c52e,Fisheries and Ecosystem Sciences Division,Division des sciences halieutiques et écosystémiques
6,10,NaN,4,410.0,50.0,2f22a635e1b3460eb4e561b274e639cf,Great Lakes Laboratory for Fisheries and Aquatic Sciences,None
38,44,NaN,17,NaN,50.0,0604a0768a7b4c679e508d97ea0e5e26,Ecosystems and Fisheries Management,None
40,46,NaN,18,1317.0,439.0,90e07c4177494ec987c602f1f277cee2,Oceans and Aquaculture Management,None
42,52,NaN,20,NaN,50.0,1e9baa1cef7441faad1290da631fd636,Fisheries Management,None
50,68,NaN,26,NaN,50.0,98ff8daa5de94fc7a81ce9ec7470891f,Marine Mammal Science,La science des mammifères marins
52,70,NaN,27,NaN,50.0,57c1bb6cc3c3454296f4fb9a5b6a576c,"Aquaculture, Biotechnology and Aquatic Animal Health Sciences","Aquaculture, biotechnologie et sciences de la santé des animaux aquatiques"
61,79,NaN,32,NaN,50.0,a1a3a1ba4bb844ec8ec5a9560295d16d,Aquaculture Policy,None
63,81,NaN,33,NaN,50.0,73feeebe2690434fbab7adfbc494bd18,Fisheries Resource Management,None
65,83,NaN,35,NaN,1142.0,6fc939221bf441639a4dc972f23ebfd0,Domestic Fisheries Policy,Politique intérieure de la pêche
68,86,NaN,38,NaN,50.0,023a439378284a928cb85cdd79ca5dbe,Aquatic Ecosystems,None
69,87,NaN,39,NaN,50.0,3c6bcf3d5db64250a556ae7c0ba875ab,Fisheries & Harbour Management,None
70,88,NaN,40,NaN,50.0,a118036db1d041bbb5bfbc2d98a5c62b,Aquatic Ecosystems,None
72,90,NaN,44,NaN,382.0,dd078edc3e8b4fbbadb3d8ebd86148a4,Indigenous Fisheries Management,Gestion des pêches autochtones
104,122,NaN,20,NaN,1142.0,75bcc370bc5445b4adee8512da629f23,Fisheries Policy and Planning,None
107,125,NaN,54,NaN,1142.0,f6f136558c564e25adc6580730999498,Aquaculture Biotechnology and Aquatic Animal Health,None

shared_models_lineobject

,id,name_eng
47,48,International Fisheries Commissions Agreements
149,150,Aquaculture License Fees - freshwater / land based
150,151,Aquaculture License Fees - Marine finfish
151,152,Aquaculture Lisense Fees - Shellfish
250,251,Collaboration as per s. 33 of the Oceans Act/s.4.4 of the Fisheries Act – Funds received from third party
276,277,Collaboration as per s. 33 of the Oceans Act/s.4.4 of the Fisheries Act – Expenditures
321,322,"Oceanography, Aquaculture and Fisheries Research-Scientific Services (excl.consultants)"
325,326,"Scientific Consultants - Oceanography, Aquaculture and Fisheries Research"
481,482,Fisheries Officers Allowance
482,483,Retro - Fisheries Allowance
662,663,Collaboration as per s. 33 of the Oceans Act/ s.4.4 of the Fisheries Act – Unused funds returned to third party
886,887,Fisheries Officers Allowance
887,888,Retro - Fisheries Officers Allowance

shared_models_paaitem

,id,name,nom
0,1,Integrated Fisheries Management,Gestion intégrée des pêches
1,2,Commercial Fisheries,Pêche commerciales
2,3,Recreational Fisheries,Pêches récréatives
4,5,Aboriginal Fisheries Strategy,Stratégie relative aux pêches autochtones
7,8,Sustainable Aquaculture Program,Programme d'aquaculture durable
8,9,Aquaculture Management,Gestion de l’aquaculture
9,10,British Columbia Aquaculture Regulatory Program,Programme de réglementation de l’aquaculture en Colombie-Britannique
10,11,Sustainable Aquaculture Science Program,Programme des sciences de l'aquaculture durable
22,23,National Fisheries Intelligence Service,Service national de renseignements sur les pêches
25,26,Fisheries Protection,Protection des pêches

shared_models_person

,id,created_by_id,dmapps_user_id,language_id,old_id,updated_by_id,affiliation,email,job_title_en,job_title_fr
18,19,NaN,31.0,NaN,None,None,DFO / MPO,Luc.Comeau@dfo-mpo.gc.ca,"Biologist, Aquaculture",Research Scientist / Chercheur
43,44,NaN,92.0,NaN,None,None,DFO / MPO,Marc.Ouellette@dfo-mpo.gc.ca,"Senior Biologist, Aquaculture and Coastal Ecosystems","Division Manager, Aquatic Health / Gestionnaire de division, Santé aquatique"
48,49,NaN,104.0,2.0,None,None,DFO / MPO,Remi.Sonier@dfo-mpo.gc.ca,"Section Head, Aquaculture and Coastal Ecosystems","Chef de section, Aquaculture et écosystèmes côtiers"
95,96,NaN,278.0,NaN,None,None,DFO / MPO,Jenni.McDermid@dfo-mpo.gc.ca,"Head, Fisheries Framework Science Section","Chef, Section du cadre de science halieutique"
201,202,NaN,444.0,NaN,None,None,DFO / MPO,Annie.LeBlanc@dfo-mpo.gc.ca,Fisheries and Aquaculture Management Officer,Fisheries and Aquaculture Management Officer
...,...,...,...,...,...,...,...,...,...,...
5252,5276,NaN,NaN,1.0,None,None,The Fishmongers' Company,Eleanor.Adamson@fishmongers.org.uk,Fisheries Programme Manager,None
5269,5293,NaN,3616.0,NaN,None,None,DFO / MPO,Vanessa.Metcalf@dfo-mpo.gc.ca,Aquaculture Management Coordinator | Coordonnatrice de la gestion de l'aquaculture,Aquaculture Management Coordinator | Coordonnatrice de la gestion de l'aquaculture
5284,5308,NaN,3629.0,NaN,None,None,DFO / MPO,Andrew.Randall@dfo-mpo.gc.ca,"Regional Director, Aquatic Ecosystems Directeur régional, Écosystèmes aquatiques","Regional Director, Aquatic Ecosystems Directeur régional, Écosystèmes aquatiques"
5317,5341,NaN,3663.0,NaN,None,None,DFO / MPO,Michelle.WettonSalo@dfo-mpo.gc.ca,"Regional Senior Fisheries Management Officer,Resource Management","Regional Senior Fisheries Management Officer,Resource Management"
5326,5350,NaN,3673.0,NaN,None,None,DFO / MPO,Mirella.DeOliveiraLeis@dfo-mpo.gc.ca,Regional Senior Fisheries Management Officer,Regional Senior Fisheries Management Officer

shared_models_project

,id,default_allotment_code_id,default_business_line_id,default_line_object_id,default_responsibility_center_id,name
5,64,3.0,NaN,NaN,25.0,Mollusc Fisheries (formerly Scallop)
13,301,3.0,NaN,NaN,25.0,Sustainable Aquaculture
47,967,27.0,NaN,NaN,25.0,Sustainable Aquaculture (Galway Hab)
97,1089,27.0,NaN,NaN,25.0,Aquaculture Monitoring
108,1102,27.0,NaN,NaN,25.0,Aquaculture Ecosystem Interactions Program
110,1106,3.0,NaN,NaN,11.0,OFSI - Marine Mammals
161,10042,NaN,NaN,NaN,NaN,OFSI - Ecosystem and Fisheries Research and Monitoring
165,10046,NaN,NaN,NaN,NaN,Marine Mammals
180,10062,NaN,NaN,NaN,10062.0,Coded Wire Tag Program Fisheries Sampling
187,10069,NaN,NaN,NaN,10057.0,Reducing the Threat of Vessel Traffic on Whales and Other Marine Mammals through Detection and Avoidance (Pacific)
242,10147,NaN,NaN,NaN,10046.0,Ecosystem and Fisheries Research and Monitoring
245,10152,NaN,NaN,NaN,NaN,Program for Aquaculture Regulatory Research (PARR)
285,10214,NaN,NaN,NaN,10037.0,ACRDP 18-P-06 - Acoustic monitoring of wild fish interactions at aquaculture sites - phase 2
309,10273,NaN,NaN,NaN,10043.0,"OFSI - Coastal Data, Monitoring and Aquaculture"
321,10309,NaN,NaN,NaN,NaN,Treaties and Reconciliation Agreements – Fisheries Resources Reconciliation Agreement with Coastal First Nations (CFN)
322,10310,NaN,NaN,NaN,NaN,Treaties and Reconciliation Framework Agreements – Incremental Reconciliation Agreement for Fisheries Resources with Five Nations

shared_models_section

,id,admin_id,division_id,head_id,last_modified_by_id,uuid,full_name_en,full_name_en_ver1,full_name_fr,full_name_fr_ver1,name,nom,shortish_name
0,1,NaN,1,104.0,385.0,a617e62e990b4d50ae01f1aa30d985f0,Gulf - Science - Aquatic Health Division - Aquaculture & Coastal Ecosystems,Aquaculture & Coastal Ecosystems (Gulf/Aquatic Health Division),Golfe - Science - Division de la santé aquatique - Aquaculture et écosystèmes côtiers,Aquaculture et écosystèmes côtiers (Golfe/Division de la santé aquatique),Aquaculture & Coastal Ecosystems,Aquaculture et écosystèmes côtiers,GULF - SCI - AHD - Aquaculture & Coastal Ecosystems
4,5,NaN,2,486.0,385.0,b36916d86e594271902fbb775cdf2612,Gulf - Science - Fisheries and Ecosystem Sciences Division - Crustaceans,Crustaceans (Gulf/Fisheries and Ecosystem Sciences Division),Golfe - Science - Division des sciences halieutiques et écosystémiques - Crustacés,Crustacés (Golfe/Division des sciences halieutiques et écosystémiques),Crustaceans,Crustacés,GULF - SCI - FESD - Crustaceans
6,7,NaN,2,100.0,385.0,dd8315beea8147d487e3eff697d3f648,Gulf - Science - Fisheries and Ecosystem Sciences Division - Fisheries and Ecosystem Sciences Division - Manager's Office,Fisheries and Ecosystem Sciences Division - Manager's Office (Gulf/Fisheries and Ecosystem Sciences Division),Golfe - Science - Division des sciences halieutiques et écosystémiques - Bureau du gestionnaire - Division des sciences halieutiques et écosystémiques,Bureau du gestionnaire - Division des sciences halieutiques et écosystémiques (Golfe/Division des sciences halieutiques et écosystémiques),Fisheries and Ecosystem Sciences Division - Manager's Office,Bureau du gestionnaire - Division des sciences halieutiques et écosystémiques,GULF - SCI - FESD - Fisheries and Ecosystem Sciences Division - Manager's Office
8,9,NaN,2,2488.0,50.0,127402bcd7c04ecf9876959e9b9bb7f9,Gulf - Science - Fisheries and Ecosystem Sciences Division - Marine Fish and Mammals,Marine Fish and Mammals (Gulf/Fisheries and Ecosystem Sciences Division),Golfe - Science - Division des sciences halieutiques et écosystémiques - Poissons et mammifères marins,Poissons et mammifères marins (Golfe/Division des sciences halieutiques et écosystémiques),Marine Fish and Mammals,Poissons et mammifères marins,GULF - SCI - FESD - Marine Fish and Mammals
11,13,NaN,2,294.0,50.0,988bf7ea206b4e47b27c29d1d58ae41e,Gulf - Science - Fisheries and Ecosystem Sciences Division - Salmon and Diadromous Fish,Salmon and Diadromous Fish (Gulf/Fisheries and Ecosystem Sciences Division),Golfe - Science - Division des sciences halieutiques et écosystémiques - Poisson Saumon et Diadrome,Poisson Saumon et Diadrome (Golfe/Division des sciences halieutiques et écosystémiques),Salmon and Diadromous Fish,Poisson Saumon et Diadrome,GULF - SCI - FESD - Salmon and Diadromous Fish
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,222,NaN,100,NaN,1337.0,7b34add8da2a40e5a399922217af7533,Maritimes - Fisheries Management - Conservation & Protection - C&P Operations,C&P Operations (Maritimes/Conservation & Protection),Maritimes - Gestion des pêches - Conservation & Protection - C&P Operations,C&P Operations (Maritimes/Conservation & Protection),C&P Operations,None,MAR - FM - None - C&P Operations
200,223,NaN,100,NaN,1337.0,b8c69d50eb844804bd74684654d7832d,Maritimes - Fisheries Management - Conservation & Protection - Policy and Regulations,Policy and Regulations (Maritimes/Conservation & Protection),Maritimes - Gestion des pêches - Conservation & Protection - Policy and Regulations,Policy and Regulations (Maritimes/Conservation & Protection),Policy and Regulations,None,MAR - FM - None - Policy and Regulations
201,224,NaN,100,NaN,1337.0,4d9dbaf61e9d4f288401196096ee8fe0,Maritimes - Fisheries Management - Conservation & Protection - Enforcement Operations,Enforcement Operations (Maritimes/Conservation & Protection),Maritimes - Gestion des pêches - Conservation & Protection - Enforcement Operations,Enforcement Operations (Maritimes/Conservation & Protection),Enforcement Operations,None,MAR - FM - None - Enforcement Operations
202,225,NaN,125,NaN,1142.0,9bb7fc52ca544d56abfeadfa70afe239,Newfoundland & Labrador - Science - Aquaculture Biotechnology and Aquatic Animal Health - Aquaculture Biotechnology and Aquatic Animal Health,Aquaculture Biotechnology and Aquatic Animal Health (Newfoundland & Labrador/Aquaculture Biotechnology and Aquatic Animal Health),Terre-Neuve-et-Labrador - Science - Aquaculture Biotechnology and Aquatic Animal Health - Aquaculture Biotechnology and Aquatic Animal Health,Aquaculture Biotechnology and Aquatic Animal Health (Terre-Neuve-et-Labrador/Aquaculture Biotechnology and Aquatic Animal Health),Aquaculture Biotechnology and Aquatic Animal Health,None,NL - Sc - None - Aquaculture Biotechnology and Aquatic Animal Health
204,227,NaN,123,NaN,1142.0,cd078cec0baf49e99f535644ffbadd9b,Newfoundland & Labrador - Science - Aquatic Resources - Marine Mammals,Marine Mammals (Newfoundland & Labrador/Aquatic Resources),Terre-Neuve-et-Labrador - Science - Aquatic Resources - Marine Mammals,Marine Mammals (Terre-Neuve-et-Labrador/Aquatic Resources),Marine Mammals,None,NL - Sc - None - Marine Mammals

spot_biologicalprocesstype3

   id         name
1   2  Aquaculture

spot_primaryorganizationprogram

    id                  name
15  18     FAM - Aquaculture
19  48  Fisheries Management

spot_projectpurpose

    id                                          name
33  34  Support Food Social and Ceremonial Fisheries
44  47               Support Sustainable Aquaculture

tracking_email

,id,msg_id,sent_by_id,subject
12849,12850,010d01886d37237c-d65a6259-1c49-4e1d-ba6e-44cf2c0c39f8-000000,50.0,new ticket / nouveau billet - Whalebrary Marine Mammal Tools (Medium)
14654,14655,010d01894f26511c-b17292c0-2ce2-4706-bc4f-947e2ca4d24d-000000,452.0,new ticket / nouveau billet - Whalebrary Marine Mammal Tools (Urgent)
26936,26937,010d018f2f2d7d91-ad31b803-e854-4bd1-af0e-ac6dfea21360-000000,591.0,new ticket / nouveau billet - Whalebrary Marine Mammal Tools (Medium) ** ACCESS REQUEST **
27795,27796,010d01900266c74a-7f865ca1-8cff-4719-9bc2-d2feee2d9819-000000,3459.0,new ticket / nouveau billet - Whalebrary Marine Mammal Tools (Medium) ** ACCESS REQUEST **
28873,28874,010d019147726a9f-2bd64e59-67e5-449e-82b8-9cc7ced2ffcd-000000,467.0,FOR YOUR INFORMATION (no action required): Meeting 793: Science Review of Two Proposed Trout Aquaculture Sites in Bay d’Espoir on the South Coast of Newfoundland) - POUR VOTRE INFORMATION (aucune ...
28874,28875,010d019147825af5-78101095-c7d9-4894-a645-bbabe00cf677-000000,2547.0,FOR YOUR INFORMATION (no action required): Process 753: Science Review of Two Proposed Trout Aquaculture Sites in Bay d’Espoir on the South Coast of Newfoundland) - POUR VOTRE INFORMATION (aucune ...
29007,29008,010d01917049025f-05fd0853-4f89-4894-b6c6-c880f5bad0c0-000000,467.0,FOR YOUR INFORMATION (no action required): Process 753: Science Review of Two Proposed Trout Aquaculture Sites in Bay d’Espoir on the South Coast of Newfoundland) - POUR VOTRE INFORMATION (aucune ...
29260,29261,010d0191e812820e-b672f8c9-71af-4984-9e5d-80990921901b-000000,2422.0,FOR YOUR INFORMATION (no action required): Process 434: Science Review of Narwhal (Monodon Monoceros) Surveys Conducted by WPS Golder Inc. in 2019-2023 for use in DFO Fisheries Stock Assessments) ...
29261,29262,010d0191e814fa35-bae6f66d-31ce-4709-b9df-be6732fea60a-000000,2422.0,FOR YOUR INFORMATION (no action required): Process 434: Science Review of Narwhal (Monodon Monoceros) Surveys Conducted by WPS Golder Inc. in 2019-2023 for use in DFO Fisheries Stock Assessments) ...
29292,29293,010d0192007a1469-5ad2f388-8635-410f-9aae-d317a37db088-000000,2422.0,FOR YOUR INFORMATION (no action required): Process 434: Science Review of Narwhal (Monodon Monoceros) Surveys Conducted by WSP Golder Inc. in 2019-2023 for use in DFO Fisheries Stock Assessments) ...
29293,29294,010d019200801592-1f0a259f-9e7e-4ef7-abf5-ddb6f2198818-000000,2422.0,FOR YOUR INFORMATION (no action required): Process 434: Science Review of Narwhal (Monodon monoceros) Surveys Conducted by Golder-WSP in 2019-2023 for use in Fisheries Stock Assessments) - POUR VO...
29295,29296,010d0192008daa9e-f6d9e34e-8b3f-486a-b160-be9c65c18eb2-000000,2422.0,FOR YOUR INFORMATION (no action required): Process 434: Science Review of Narwhal (Monodon monoceros) Surveys Conducted by Golder-WSP in 2019-2023 for use in DFO Fisheries Stock Assessments) - POU...

In [47]:
potential_candidate_tables = ['ppt_csrftheme', 'ppt_functionalgroup', 'ppt_tag', 'publications_humancomponent']

for table in potential_candidate_tables:
    display(sql(f'SELECT * FROM {table}', engine))

,id,name,nom,code
0,7,Aquaculture Science,Science de l'aquaculture,AQ
1,8,Biotech & Genomics,Biotech & Génomique,BG
2,9,Aquatic Ecosystems Sci.: AIS-SARA,Science des écosystèmes aquatiques: EAE-LEP,AEa
3,10,"Aquatic Ecosystems Sci.: Ecosystems, habitats, impacts","Science des écosystèmes aquatiques: écosystèmes, habitats, impacts",AEb
4,11,Fisheries Science,Sciences halieutiques,FS
5,12,Climate Change & Oceans,None,CC
6,13,Aquatic Animal Health,None,AAH

,id,name,nom,theme_id
0,1,Administration and Coordination,Administration et coordination,7.0
1,2,Lobster,None,1.0
2,3,"Crustaceans, Other",None,1.0
3,4,Snow Crab,None,1.0
4,5,Microplastics and Cumulative Effects,Microplastiques et effets cumulatifs,3.0
...,...,...,...,...
72,80,Pacific Salmon Population Monitoring,None,1.0
73,81,Pacific Salmon Modelling & Decision Support,None,1.0
74,82,Hatchery Science,None,6.0
75,83,Contaminants,None,3.0
76,84,Integrated Marine Response Planning (IMRP),Planification intégrée des interventions en mer (PIIM),NaN

,id,name,nom
0,1,whales,baleine
1,2,eDNA,ADNe
2,3,ASEC,CESA
3,4,herring,hareng
4,5,groundfish,poisson de fond
...,...,...,...
327,331,Marine spatial planning,Planification spatiale marine
328,332,Newfoundland-Labrador Shelves Bioregion,Biorégions de plates-formes de Terre-Neuve et du Labrador
329,333,passive acoustic monitoring,surveillance acoustique passive
330,334,coastal,côtière
331,335,network,réseau

     id                      name
0   104               AGRICULTURE
1     1               AQUACULTURE
2   102  AQUATIC INVASIVE SPECIES
3    10            CLIMATE CHANGE
4   103       COASTAL DEVELOPMENT
5     9    COASTAL INFRASTRUCTURE
6    37                    DEBRIS
7     2                 FISHERIES
8   106  HUMAN POPULATION DENSITY
9    11            HUMAN USE DATA
10  110            INFRASTRUCTURE
11  108           LAND ALTERATION
12   30                     NOISE
13  107          NUTRIENT RUN-OFF
14   12       OCEAN ACIDIFICATION
15   31                 POLLUTION
16   38           SEISMIC SURVEYS
17   32              SHIP TRAFFIC
18  109               TIDAL POWER
19  105               URBAN COVER

In [49]:
# no matches :(